html {
	--color--skeleton-container: #f4f4f4;
	--color--skeleton-loader: #d9d9d9;
	--light-gray: #bbbbbb;
	--system-dark-pink: #9d0823;
	--system-pink: #fb6681;
	--rounded-sm: 0.6rem;
	--rounded-md: 0.94rem;
	--rounded-lg: 1.25rem;

	font-size: 16px;
	height: 100vh;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: Inter, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

select {
	cursor: pointer;
}

button,
input {
	all: unset;
}

button,
select,
input {
	font-weight: 300;
	font-size: 1rem;
	font-family: inherit;
}
